body {
    font: 15px Arial;
    color: #333333;
    padding: 10px;
}

#menu, menu2  {
    margin: 0 auto;
}


#menu td, menu2 td {
    padding: 10px 30px;
    font-family: 'Arial';
    font: bold 18px Verdana, Arial;
}

#menu td a, menu2 td a {
    color: #555555;
    text-decoration: none;
}

#menu td a:hover, menu2 td a:hover {
   cursor: pointer;
   color: red;
   text-decoration: underline; 
}

#menu td a.wybrane, menu2 td a.wybrane {
   text-decoration: underline; 
}

.naglowek {
    font-family:  'Arial', ;
    font-size: 30px
    color: #a47158;
}

.linia_naglowek {
    border: 0;
    border-top: 1px solid #cccccc;
    width: 50%;
}

.center {
    text-align: center;
     height: 104px;
     width: 140px;
}

.obrazek {
    padding: 5px;
    border: 1px solid #a47158;
    border-radius: 5px;
}

