<!DOCTYPE html>
{% load static %}
<html lang="pl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="//fonts.googleapis.com/css?family=Arial=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/vent.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Baza danych</title>
    </head>
    <body>
        <table id="menu">
             <tr>
              <td><a class="wybrane" href="{% url 'index' %}"><img src="{% static 'images/home.png' %}"
                                                                   width="24" height="24"></a></td>
              <td><a href="{% url 'wizyta_new' %}">Zarezerwuj wizytę</a></td>
              <td><a href="{% url 'raporty' %}">Raporty</a></td>
             </tr>
        </table>
        <hr class="linia_naglowek">
        <div class="page-header">
            <h1><a href="/">Baza danych dla lecznicy dla zwierząt - Marta Bentkiewicz</a></h1>
        </div>
        <div>
        <p class="center">
            <img class="img-fluid" src="{% static 'images/iskra.jpg' %}">
        </p>
        </div>
    </body>
</html>