<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Lekarze - dodanie</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- MENU NAWIGACYJNE -->
<table id="menu">
             <tr>
              <td><a href="{% url 'index' %}"><img src="{% static 'images/home.png' %}"
                                                                   width="24" height="24"></a></td>
              <td><a  href="{% url 'wizyta_new' %}">Zarezerwuj wizytę</a></td>
              <td><a href="{% url 'pacjent_new' %}">Dodaj Pacjenta</a></td>
              <td><a class="wybrane" href="{% url 'lekarz_new' %}">Dodaj Lekarza</a></td>
              <td><a href="{% url 'raporty' %}">Raporty</a></td>
             </tr>
        </table>
        <hr class="linia_naglowek">
<hr class="linia_naglowek">
    <h2 style="background-color:DodgerBlue; color:Tomato;">Lekarze - dodanie</h2>
    <form method="POST" class="DodajLekarza">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</body>
</html>