<!DOCTYPE html>
{% load static %}
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'css/vent.css' %}">
 <title>Lista - lekarzy</title>
</head>

<body>

<!-- MENU NAWIGACYJNE -->
<table id="menu">
             <tr>
              <td><a href="{% url 'index' %}"><img src="{% static 'images/home.png' %}" width="24" height="24"></a></td>
              <td><a href="{% url 'wizyta_form' %}">Wizyty</a></td>
              <td><a href="{% url 'pacjent_form' %}">Pacjenci</a></td>
              <td><a href="{% url 'lekarze_form' %}">Lekarze</a></td>
              <td><a  class="wybrane" href="{% url 'wizyta_list' %}">Listy</a></td>
             </tr>
        </table>
        <hr class="linia_naglowek">

<!-- NAGŁÓWEK -->
 <ul>
        <li><a href="{% url 'wizyta_list' %}">Lista wizyt</a></li>
        <li><a href="{% url 'pacjent_list' %}">Lista pacjentów</a></li>
        <li><a class="active" href="{% url 'lekarze_list' %}">Lista lekarzy</a></li>
    </ul>

<hr class="linia_naglowek" style="width: 95%;">
{% for lekarz in lekarze %}
            <div class="lekarze">
                <div class="date">
                <h1 style="background-color:DodgerBlue; color:Tomato;"><a>Lekarz: </a></h1>
                </div>
                <h2 style="color:Green;"><a>Nazwisko: {{ lekarz.nazwisko }}
                <p>Imie: {{ lekarz.imie }}</p></a></h2>
                </div>
                <div class="date">
                <h3><a>Imformacje szczegółowe:
                <p>Tytuł naukowy: {{ lekarz.tytul_nauk }}</p>
                <p>Specjalizacja naukowa: {{ lekarz.specjalizacja_naukowa }}</p>
                <p>Specjalizacja leczenia: {{ lekarz.specjalizacja_leczenia }}</p>
                <p>Imformacje dodatkowe: {{ lekarz.opis_text }}</p></a></h3>
                </div>
            </div>
            <br>
            <br>
{% endfor %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>
</html>