<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Lekarze - dodanie - wyszukanie - usuniecie</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/vent.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- MENU NAWIGACYJNE -->
<table id="menu">
             <tr>
              <td><a href="{% url 'index' %}"><img src="{% static 'images/home.png' %}"
                                                                   width="24" height="24"></a></td>
              <td><a  href="{% url 'wizyta_form' %}">Wizyty</a></td>
              <td><a href="{% url 'pacjent_form' %}">Pacjenci</a></td>
              <td><a class="wybrane" href="{% url 'lekarze_form' %}">Lekarze</a></td>
              <td><a href="{% url 'wizyta_list' %}">Listy</a></td>
             </tr>
        </table>
        <hr class="linia_naglowek">
<ul>
        <li><a href="{% url 'lekarze_form' %}">Dodanie lekarza</a></li>
        <li><a href="{% url 'lekarze_serch' %}">Wyszukanie lekarza</a></li>
        <li><a class="active" href="{% url 'lekarze_remove' %}">Usuniecie lekarza</a></li>
</ul>
<hr class="linia_naglowek">
<form action="" method="GET">
        <label for="fname">Imie lekarza:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Nazwisko lekarza:</label><br>
        <input type="text" id="lname" name="lname">
        <br><br>
        <button type="submit" class="btn btn-primary">Szukaj  lekarza</button>
</form>
<br>
<br>
{% if wiele != 0 %}
    {% for object in object %}
            <div class="lekarze">
                <div class="date">
                <h1 style="background-color:DodgerBlue; color:Tomato;"><a>Lekarz</a></h1>
                </div>
                <div class="date">
                <h2 style="color:Green;"><a>Nazwisko: {{ object.nazwisko }}
                <p>Imie: {{ object.imie }}</p></a></h2>
                </div>
                <div class="date">
                <h3><a>Imformacje szczegółowe:
                <p>Tytuł naukowy: {{ object.tytul_nauk }}</p>
                <p>Specjalizacja naukowa: {{ object.specjalizacja_naukowa }}</p>
                <p>Specjalizacja leczenia: {{ object.specjalizacja_leczenia }}</p>
                <p>Informacje dodatkowe: {{ object.opis_text }}</p></a></h3>
                </div>
            </div>
            <br>
            <a href="{% url 'lekarze_delete' object.id %}" class="btn btn-danger" role="button">Usuń  lekarza</a>
            <br>
    {% endfor %}
{% endif %}
{% if wiele == 0 %}
            <div class="lekarze">
                <div class="date">
                <h1 style="background-color:DodgerBlue; color:Tomato;"><a>Lekarz</a></h1>
                </div>
                <div class="date">
                <h2 style="color:Green;"><a>Nazwisko: {{ object.nazwisko }}
                <p>Imie: {{ object.imie }}</p></a></h2>
                </div>
                <div class="date">
                <h3><a>Imformacje szczegółowe:
                <p>Tytuł naukowy: {{ object.tytul_nauk }}</p>
                <p>Specjalizacja naukowa: {{ object.specjalizacja_naukowa }}</p>
                <p>Specjalizacja leczenia: {{ object.specjalizacja_leczenia }}</p>
                <p>Informacje dodatkowe: {{ object.opis_text }}</p></a></h3>
                </div>
            </div>
            <br>
            <a href="{% url 'lekarze_delete' object.id %}" class="btn btn-danger" role="button">Usuń  lekarza</a>
            <br>
{% endif %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>