<!DOCTYPE html>
{% load static %}
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <title>Raporty</title>
</head>

<body>

<!-- MENU NAWIGACYJNE -->
<table id="menu">
             <tr>
              <td><a href="{% url 'index' %}"><img src="{% static 'images/home.png' %}" width="24" height="24"></a></td>
              <td><a href="{% url 'wizyta_new' %}">Zarezerwuj wizytę</a></td>
              <td><a href="{% url 'pacjent_new' %}">Dodaj Pacjenta</a></td>
              <td><a href="{% url 'lekarz_new' %}">Dodaj Lekarza</a></td>
              <td><a  class="wybrane" href="{% url 'raporty' %}">Raporty</a></td>
             </tr>
        </table>
        <hr class="linia_naglowek">

<!-- NAGŁÓWEK -->
<p class="center">
 <span class="naglowek">Raport rezerwacji</span>
</p>
<hr class="linia_naglowek" style="width: 95%;">
<!--<div class="center">
 <img class="obrazek" src="{% static 'images/S5002730.JPG' %}">
</div> -->
{% for wizyta in wizyta %}
            <div class="wizyta">
                <div class="date">
                <h1 style="background-color:DodgerBlue; color:Tomato;"><a>Data wizyty: {{ wizyta.wizyta_data }}</a></h1>
                </div>
                <h2 style="color:Green;"><a>Godzina wizyty: {{ wizyta.wizyta_time }}</a></h2>
                <h3 style="background-color:Tomato;"><a>Pacjent:
                <p>Nazwisko: {{ wizyta.wizyta_pacjent.nazwisko }}</p>
                <p>Imie: {{ wizyta.wizyta_pacjent.imie }}</p>
                <p>Imie pupila: {{ wizyta.wizyta_pacjent.imie_zwierza }}</p>
                <p>Rodzaj pupila: {{ wizyta.wizyta_pacjent.rodzaj_zwierza }}</p>
                <p>Powod wizyty: {{ wizyta.wizyta_pacjent.description }}</p></a></h3>
                <div class="date">
                <h3 style="background-color:DodgerBlue;"><a>Lekarz przyjmujacy:
                <p>Nazwisko: {{ wizyta.wizyta_lekarz.nazwisko }}</p>
                <p>Imie: {{ wizyta.wizyta_lekarz.imie }}</p>
                <p>Specjalizacja leczenia: {{ wizyta.wizyta_lekarz.specjalizacja_leczenia }}</p>
                </a></h3>
                </div>
            </div>
            <br>
            <br>
{% endfor %}
</body>
</html>